extends layout

block content
  div(id="p_login")
    div(id="top")
    div(id="content")
      h1(class="logo") 404
      div(class="step")
        p 未找到页面
    div(id="footer")
      p 2013 &copy; kissy gallery team