extends layout

block content
  div(id="p_signup")
      div(id="top")
      div(id="content")
        h1(class="logo") 注册KPM
        div(class="step")
          div(class="form J_form", data-url="/signup")
            div(class="group")
              label(class="") 用户名
              input(class="username J_username", name="username" ,type="text")
            div(class="group")
              label(class="") 密码
              input(class="password J_password", name="password", type="password")
            div(class="group")
              label(class="") 密码确认
              input(class="password",type="password")
            div(class="group")
              label(class="") 邮箱
              input(class="email J_email", name="email", type="text")
            div(class="group btn_container")
              a(class="signup_ok J_signupOk") 确认
      div(id="footer")
        p 2013 &copy; kissy gallery team
  script(src="/javascripts/site.js")
  script(type="text/javascript")
    KISSY.use('signup', function(Sin){});